@charset "UTF-8";


/* 
--------------------
Utility
--------------------
*/

*,
*::after,
*::before {
	box-sizing: border-box;
	padding: 0;
}

:root {
	--color-base-dark: #22252a;
	--color-base-light: #fefefd;
	--color-primary: #eeab3a;
	--color-secondary: #dcd7cd;
}

/* 
--------------------
Base
--------------------
*/

html {
	font-size: 10px;
}

body {
	font-size: 1.8rem;
	text-align: center;
}

h1,
h2,
h3,
figcaption,
a {
	font-family: "Sulphur Point", sans-serif;
}

h1, 
h2,
h3 {
	text-align: center;
	text-transform: uppercase;
}

h1 {
	font-size: 5rem;
	line-height: 1.2em;
}

h2 {
	font-size: 4rem;
	line-height: 1.2em;
}

h3 {
	font-size: 3rem;
	line-height: 1.5em;
}

p,
li {
	font-family: "Baskervville", serif;
} 

p {
	line-height: 1.5em;
}

a {
	text-decoration: none;
}

img {
	display: block;
	margin: 0 auto;
	max-width: 100%;
}

header,
section {
	margin: auto;
	padding: 3rem 2rem;
}

/* 
--------------------
Layout
--------------------
*/

/* Header */

.header {
	background-color: var(--color-primary);
}

.header_logo {
	display: table;
	margin: auto;
}

.header_nav ul {
	display: flex;
	flex-wrap: wrap;
	list-style-type: none;
}

.header_nav li {
	flex: 1 1 50%;
}

.header_nav a {
	color: var(--color-base-dark);
	display: block;
	font-weight: bold;
	margin: 1.5rem 1rem;
	padding: 1rem 2rem;
}

/* Hero */

.hero {
	background: url(../assets/photos/bg-hero-mobile.jpg) center/cover no-repeat;
	color: var(--color-base-light);
}

.hero_title {
	font-size: 6rem;
}

.hero_quote {
	font-size: 2rem;
	font-style: italic;
}

.hero_author {
	font-size: 2rem;
	font-weight: bold;
	margin-bottom:  4rem;
	letter-spacing: .1em;
	text-align: right;
}

/* Products */

.products_card {
	background-color: var(--color-primary);
	margin: 2rem auto;
	width: 70%;
}

.products_card p{
	margin: 2rem auto;
}

.products_icon {
	background-color: var(--color-base-dark);
	padding: 3rem;
}

.products_info {
	padding: 1rem;
}

/* Portfolio */

.portfolio {
	background-color: var(--color-base-dark);
	color: var(--color-base-light)
}

/* About us */

.about-us_text {
	margin: 1rem 2rem 4rem;
}

/* Quote section */

.quote {
	background: url(../assets/photos/bg-quote-mobile.jpg) center/cover no-repeat;
	color: var(--color-base-light);
}

.quote p {
	font-style: italic;
}

.quote figcaption {
	font-weight: bold;
	letter-spacing: .1em;
	margin-top: 4rem;
}

/* Footer */

.footer {
	background-color: var(--color-base-dark);
	color: var(--color-base-light);
	text-align: left;
}

.footer article,
.footer address {
	padding: 2rem 2rem;	
}

.footer h3 {
	font-size: 2.5rem;
	text-align: left;
}

.footer ul {
	list-style: none;
}

.footer li {
	padding: 1rem 0;
}

.footer a {
	color: var(--color-base-light);
	transition: .3s;
}

	.footer a:hover {
		color: var(--color-secondary);
	}

.footer_social {
	display: flex;
	flex-wrap: wrap;
}

.footer_social li {
	flex: 1;
}

.footer_social a {
	border: 3px solid transparent;
	display: block;
	margin: 0 3rem;
	padding: 1rem 2rem;
}

.footer_social a:hover {
	border: 3px solid var(--color-primary);
}

/* Copyright */

.copy {
	background-color: var(--color-primary);
	padding:  1rem 2rem;
	text-align: center;
}

/* 
--------------------
Modules
--------------------
*/

.line-up::before {
	content: " ";
	display: table;
	width: 6rem;
	height: 3px;
	background-color: var(--color-base-dark);
	margin: .8rem auto;
}

.line-up_light::before {
	background-color: var(--color-base-light);
}

.line-down::after {
	content: " ";
	display: table;
	width: 6rem;
	height: 3px;
	background-color: var(--color-base-dark);
	margin: 1rem auto;
}

.line-down_light::after {
	background-color: var(--color-base-light);
}

.line-down_left::after {
	margin: 1rem 0;
}

.btn {
	border: 3px solid	var(--color-primary);
	color: var(--color-primary);
	display: block;
	font-weight: bold;
	margin: auto;
	padding: 1rem 2rem; 
	transition: .3s;
	width: 10em;
}

.btn:hover {
	border: 3px solid var(--color-base-dark);
	color: var(--color-base-dark);
}

.btn_light:hover {
	border: 3px solid var(--color-secondary);
	color: var(--color-secondary);
}

.cta {
	margin-top: 5rem;
}

/* 
--------------------
State
--------------------
*/

.btn_mobile {
	border: 3px solid	var(--color-base-dark);
	transition: .3s;
}

	.btn_mobile:hover {
		border: 3px solid var(--color-base-light);
		color: var(--color-base-light);
	}