/* 
--------------------
Bases
--------------------
*/

html {
	font-size: 10px;
}

body {
	font-size: 1.8rem;
}

h1,
h2,
h3,
figcaption {
	font-family: "Sulphur Point", sans-serif;
}

h1 {
	font-size: 5rem;
	text-align: center;
}

p,
li,
a {
	font-family: "Baskervville", serif;
} 

a {
	text-decoration: none;
}

img {
	display: block;
	margin: 0 auto;
	max-width: 100%;
}

/* 
--------------------
Layouts
--------------------
*/

.header {
	background-color: var(--color-primary);
	padding: 2rem 0; 
}

.header_logo {
	display: table;
	margin: 0 auto;
}

.header_nav ul {
	list-style-type: none;
}

.header_nav a {
	color: var(--color-base-dark);
	display: block;
	font-weight: bold;
	margin: 1.5rem auto;
	padding: 1rem 2rem;
	text-align: center;
}

.hero {
	background: url(../assets/fotografias/bg-hero-mobile.jpg) center/cover no-repeat;
	color: var(--color-base-light);
	height: 60vh;
	padding: 2rem;
}

.hero_title {
	font-size: 6rem;
}

.hero_quote {
	font-size: 2rem;
}

.hero_author {
	margin: 1rem;
	text-align: right;
}




/* 
--------------------
Componentes
--------------------
*/

.line-up::before {
	content: " ";
	display: block;
	width: 6rem;
	height: 3px;
	background: #000;
	margin: 1em auto;
}

.line-down::after {
	content: " ";
	display: block;
	width: 6rem;
	height: 3px;
	background: #000;
	margin: 1em auto;
}


/* 
--------------------
Estados
--------------------
*/



.mobile_only {
	border: 3px solid	var(--color-base-dark);
}

	.mobile_only:hover {
		border: 3px solid var(--color-base-light);
		color: var(--color-base-light);
	}